<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ahmad_Mahameed_122153.Properties.Settings.CompanyConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\csexam\Desktop\Final\Ahmad_Mahameed_122153\Company.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Ahmad_Mahameed_122153.Properties.Settings.CompanyConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Company.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>